.container {
  display: flex;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background-color: hsl(var(--color-bg-base));
}

.main {
  width: 100%;
  height: 100%;
  position: relative;
  background-color: transparent;
  overflow: hidden;
}